@model transfer_centre.Models.transfer

@{
    ViewBag.Title = "Create";
}
<div class="form-horizontal">
    <h2>Create</h2>

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <h4>Transfer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.age, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.transferred_from, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.transferred_from, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.transferred_from, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.transferred_to, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.transferred_to, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.transferred_to, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.image, "", new { @class = "text-danger" })
            </div>
        </div>
  

        <div class="form-group">
            <div class="cl-md-offset-2 col-md-10">
                <input type="submit" value="Create transfer" class="btn btn-default" />
            </div>
        </div>
    }
</div>
@Html.ActionLink("Back to List", "Index")